
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

.cartaabajo{
    display: grid;
    padding-top: 3%;

  }
  .tachon{
    text-decoration: line-through rgb(0, 0, 0);
  }

.card1 {
    width: 190px;
    height: 254px;
    background: #ffffff;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    place-self: center;
    overflow: hidden;
    border-radius: 20px;
  }

  .cartaabajo{
    display: grid;
    padding-top: 3%;

  }
  .tachon{
    text-decoration: line-through rgb(0, 0, 0);
  }

  .card1 h2 {
    z-index: 1;
    color: rgb(0, 0, 0);
    font-size: 1.4em;
    text-align: center;
  }
  
  .card1::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(255, 115, 0), rgb(255, 102, 0));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .card1::after {
    content: '';
    position: absolute;
    background: #ffffff;
    ;
    inset: 5px;
    border-radius: 15px;
  }  
/* .animacion */



/* boton decorado */
button {
    height: 3em;
    width: 8em;
    border: none;
    border-radius: 10em;
    background: #ff0000;  
    font-size: 17px;
    color: #000000;
    font-family: inherit;
    font-weight: 500;
   }
   
   button:hover {
    animation: shake3856 0.3s linear infinite both;
   }
   
   @keyframes shake3856 {
    0% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   
    20% {
     -webkit-transform: translate(-2px, 2px);
     transform: translate(-2px, 2px);
    }
   
    40% {
     -webkit-transform: translate(-2px, -2px);
     transform: translate(-2px, -2px);
    }
   
    60% {
     -webkit-transform: translate(2px, 2px);
     transform: translate(2px, 2px);
    }
   
    80% {
     -webkit-transform: translate(2px, -2px);
     transform: translate(2px, -2px);
    }
   
    100% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   }
/*   */

* {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


*, *:before, *:after {
  box-sizing: border-box;
}

.slide-container {
  margin: auto;
  width: 600px;
  text-align: center;
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  

}




/* parte soporte */
.titulo {
    color: #020202;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imgcont{
    width: 30%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
    font-size: 150%;
    
}

.contenido-textos h3 span{
    background: #f9580e;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 25px;
    height: 25px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    font-size: 14px;
    
}


/* parte soporte */

/* acordeon */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #34495e;
    color: #fff;
  }
  h1 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
  }
  
  .accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
  }
  .accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  }
  .accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 150%;
  }

  .iframe2{
width: 100%;
height: 500px;

  }
  .accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  .accordion-item-header.active::after {
    content: "\2212";
  }
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    font-size: 120%;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  }

  .iframe2{
    width: 80%;
  }
  
  @media(max-width:767px) {
    html {
      font-size: 14px;
    }
  }
/*  fin acordeon */

@media screen and (max-width:900px){

    .iframe2{
        width: 90%
    }

    .slide-container{
        padding-right: 35%;
    }
   
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imgcont{
        width: 90%;
        padding-bottom: 10%;
    }

    }

*::selection {
    background: #f9580e;
    color: #fff;
}

.contenedor {
    color: #000000;
    text-align: left;
  }
  .textotemp{
    text-align: right;
  }
  .cartel {
    width: 90px;
    height: 90px;
    padding: 15px 0px 0px 0px;
    text-align: center;
    display: inline-block;
    margin: 5px;
    border: 3px solid #000000;
    border-radius: 5px;
  }
  .cartel>div{
    font-size: 50px;
    font-family: 'Chela One', sans serif;
    animation: fade 3s;
    line-height: 30px;
  }
  .cartel>div>h3 {
    margin-top: 15px;
    font-size: 15px;
    font-weight: normal;
  }
  .h3 {
    bottom: 0;
    margin: 0 auto ;
  }
  .contenedor {
    margin-top: 3%;
    background-color: white;
  }
  .contenido {
    width: 80%;
    margin: 0 auto;
    border: 0px solid black;
    z-index: 10;
  }
  .contenido11 {
    margin: 0 auto;
    border: 0px solid black;
    text-align: center;
  }

  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  li span {
    display: block;
    font-size: 4.5rem;
  }
  .numeros {
    font-family: 'Chela one', sans-serif;
    font-size: 60px;
    transition: .3s;
    animation-name: fade;
    animation-duration: 3s;
  }
  .responsivo1 {
    display: inline-block
  }
  .responsivo2 {
    display: inline-block
  }
  @media (max-width: 450px) {
    
    .contenedor {
      margin-top: 15%;
    }
    .banner {
     margin-bottom: 30px; 
    }
    .cartel {
      height: 99px;
      width: 99px;
    }
    .cartel>div{
      font-size: 45px;
    }
    .cartel>div>h3 {
      font-size: 15px;
      margin-top: 0px;
    }
  
  }
  @keyframes fade {
      0%   {
        opacity: 0;
    }
      30%   {
        opacity: 0;
    }  
      100% {
        opacity: 1;
    }


  }


html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: #0c0b0b;
}

.heading {
    font-size: 3.5rem;
    color: #ffffff;
    text-align: center;
    padding: 6rem 1rem 0 0;
    letter-spacing: .2rem;
    font-weight: 600;
}

.heading1 {
    font-size: 4rem;
    color: #000000;
    text-align: center;
    padding: 6rem 1rem 0 0;
    letter-spacing: .2rem;
    font-weight: 600;
}

.title {
    padding: 0 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    color: #fff;
}

header {
    width: 100%;
    background: #000000;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
    transition: .2s;
}
header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    font-size: 2rem;
    color: #fff;
    transition: .2s;
}

header .navbar ul li .active,
header .navbar ul li a:hover {
    color: #f9580e;
}


header .logo {
    font-size: 1.9rem;
    color: #fff;
    text-transform: uppercase;
}

header .fa-bars {
    font-size: 3rem;
    color: #f9580e;
    cursor: pointer;
    display: none;
    transition: .2s;
}

.home {
    min-height: 50vh;
  background-color: rgb(0, 0, 0);
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.home .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 7rem;
    padding-bottom: 5rem;
    text-align: center;
}

.home .content h1 {
    font-size: 4.5rem;
    color: rgb(255, 255, 255);
    padding: 0 1rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    text-transform: uppercase;
}

.home .content p {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    padding: 1rem 25rem;   
}

.home .content button {
    height: 5rem;
    width: 20rem;
    border-radius: 1rem;
    background: #fc0000;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.3);
    margin: 4rem 0;
    border-color: #000000;
}

.home .content button:hover {
  
    background: #f9580e;
    border-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  
body{
    background-color: rgb(0, 0, 0);
}
  


.product {
    text-align: center;
    margin: 0px 0;
}

.product .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.product .box-container .box {
    height: 30rem;
    width: 30rem;
    background: none;
    text-align: center;
    border-radius: 1rem;
    margin: 2rem;
    cursor: pointer;
}


.product .box-container .box h3 {
    font-size: 1.5em;
    color: #f9580e;
    transition: .2s;
}

.product .box-container .box p {
    font-size: 1.3rem;
    padding: .7rem 2rem;
    color: #fff;
}

.product .box-container .box:hover i {
    background: #f9580e;
}

.product .box-container .box:hover h3 {
    color: #ffc246;
}

.product button {
    height: 5rem;
    width: 20rem;
    border-radius: 1rem;
    background: #fa0202;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
    margin-top: 50px;
}

.product button:hover {
    background: none;
    border: .2rem solid #f9580e;
}

.about {
    background: #171717;
}

.about .title {
    margin-bottom: 3rem;
}

.about .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about .row .image img {
    height: 30vh;
    width: 50vw;
    margin-left: 100px;
}

.about .row .content {
    padding-left: 5rem;
    margin: 5rem 0;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #f9580e;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
}

.about .row .content button {
    height: 5rem;
    width: 17rem;
    background: #f9580e;
    color: #fff;
    border-radius: 1rem;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
    cursor: pointer;
    font-size: 2rem;
    transition: .2s;
    margin-top: 2rem;
}

.about .row .content button:hover {
    background: none;
    border: .2rem solid #f9580e;
}

.course .box-container {
    width: 85%;
    display: flex;
    justify-content: center;
    margin:  0 auto;
    padding: 4rem 0;
    flex-wrap: wrap;
}

.course .box-container .box {
    background: #171717;
    height: 25rem;
    width: 25rem;
    margin: 3.5rem 2rem;
    text-align: center;
    border-radius: 1rem;
}

.course .box-container .box i {
    height: 10rem;
    width: 10rem;
    line-height: 8rem;
    text-align: center;
    color: #f9580e;
    background: none;
    margin-top: 2rem;
    font-size: 5rem;
}

.course .box-container .box h3 {
    font-size: 2rem;
    color: #ffc246;
}

.course .box-container .box p {
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 0;
}

.review {
    background: #f8f8f8;
}

.review .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.review .box-container .box {
    width: 38rem;
    padding-bottom: 1rem;
    text-align: center;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .3);
    background: #0c0b0b;
    margin: 4rem 2rem;
}

.review .box-container .box img {
    height: 8.5rem;
    width: 8.5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -4rem;
    border: .6rem solid #f9580e;
    border-left: .6rem solid #ffc246;
    border-bottom: .6rem solid #ffc246;
}

.review .box-container .box h3 {
    font-size: 2rem;
    color: #f9580e;
    padding: 0 .5rem;
}

.review .box-container .box p {
    font-size: 1.4rem;
    color: #fff;
    padding: 1.3rem .1rem;
}

.review .box-container .box .stars i {
    font-size: 1.6rem;
    color: #ffc246;
    padding: 1.3rem .1rem;
}

.contact {
    background: #000000;
}

.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    text-align: center;
}

.contact .row .form-container {
    width: 50%;
    padding-right: 6rem;
}

.contact .row .form-container input, textarea {
    height: 4rem;
    width: 100%;
    background: #fff;
    border-radius: 5rem;
    padding: 0 1rem;
    margin: 1rem 0;
    color: #000000;
    font-size: 1.7rem;
    transition: .2s linear;
   
}

.contact .row .form-container input:focus, textarea:focus {
    border: .4rem solid #f9580e;
}

.contact .row .form-container textarea {
    height: 20rem;
    border-radius: 1rem;
    padding: 1rem;
    resize: none;
}

.contact .row .form-container input[type="submit"] {
    height: 5rem;
    width: 17rem;
    background: #f9580e;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    transition: .2s;
}

.contact .row .form-container input[type="submit"]:hover {
    background: none;
    color: #f9580e;
    border: .2rem solid #f9580e;
}

.footer {
    text-align: center;
   
}

.footer .icons {
    padding: 3rem 0;
}

.footer .icons a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.2rem;
    text-align: center;
    border-radius: 50%;
    color: #ffc246;
    border: .2rem solid #ffc246;
    font-size: 2rem;
    margin: 0 .1rem;
    transition: .2s linear;

}

.footer .icons a:hover {
    color: #fff;
    background: #f9580e;
    border-color: #f9580e;
}

.logoimg{
    height: 5vh;
    position: fixed;
    left: 17vh;
}

@media (max-width: 768px) {
    
    html {
        font-size: 55%;
    }

    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: fixed;
        top: -100rem;
        left: 0;
        width: 100%;
        background: #171717;
        border-radius: 1rem;
        opacity: 0;
        transition: .2s linear;
    }

    header .navbar ul {
        flex-flow: column;
        padding: 2rem 0;
    }

    header .navbar ul li {
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }

    header .navbar ul li a {
        font-size: 3rem;
        display: block;
    }

    header .nav-toggle {
        top:5.5rem;
        opacity: 1;
    }

    .home .content p {
        padding: 1.5rem 2rem;
    }

    .about .row {
        flex-direction: column-reverse;
    }

    .about .row .image img {
        height: 30vh;
        width: 90vw;
    }

    .about .row .content {
        padding: 0 2.5rem;
    }

    .course .box-container {
        width: 100%;
    }

    .contact .row {
        flex-flow: column;
    }

    .contact .row .form-container {
        width: 90%;
        padding: 0;

    }

}
